.rectangle {
  width: 14px;
  height: 2px;
  background-color: rgb(204, 55, 55);
  margin-top: 36px;
  margin-left : -125px;

}
.weare {
  width: 1340px;
}
.beauty {
  width: 1349px;
}
.getsome {
  width: 1340px;
}